<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header | UTMHealthHub</title>
</head>
<body>
    <header th:fragment="header" class="utm-header">
        <div class="header-container">
            <a href="" class="header-title">UTMHealthHub</a>
            <nav class="header-nav">
                <a href="" class="header-link active">Home</a>
                <a href="" class="header-link">Contact</a>
                <a href="" class="header-link">About Us</a>
            </nav>
        </div>
    </header>
</body>
</html>